

@font-face{
font-family: 'Raleway-Medium';
    src: url('fonts/static/Raleway-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}

body{
    font-family: 'Raleway-Medium';
    margin-left: 2%;
}
#logo{
    height:5%;
    width:5%;
}
ul{
    display: flex;
    justify-content: flex-end;
    margin:0;
}
nav li{
	list-style: none;
	padding: 22px 18px;
	height: 61px;
	font-size: 14px;
	border-left-color: transparent;
	border-bottom-color: transparent;
    border-top: none;
}
button{
    border-radius: 15px;
    padding-left: 0%;
    font-weight: bold;
    background-color: white;
    border: 1px solid #CACACA;
}
#recherche{
    height: 28px;
}
 .circle-icon{
    background:lightgrey;
    padding: 7px;
    border-radius: 65%;
}
.fa-map-marker-alt{
    border-radius: 15px 0px 0px 15px;  
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog, .fa-star, .fa-map-marker-alt .fa-info-circle{
    color: #0065FC;
}
#sbutton{
    padding-left: 0.5%;
    background-color: #0065FC; 
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px 15px 15px 0px;
    height: 28px;
}
.case {
    width: 26%;
    height: 26%;
    display: flex;
    border-radius: 5%;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: column;   
}
.blocdefin {
    background-color:#F2F2F2;
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: space-around;
}
.titreh{
    display: flex;
    margin-right: 55%;
}
article{
    background-color:#F2F2F2;
    border-radius: 2%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}
aside{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 2%;
    width: 30%;
    padding: 1%;
    margin: 2%;
}
.sidecase{
    width: 80%;
    height: 20%;
    display: flex;
    border-radius: 5%;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: row; 
}
#activites{
    width: 100%;
    display: flex;
}
img{
    border-radius: 5%;
    width: 100%;
    overflow: hidden;
}
section{
    display:flex;
}
.bigcase{
   display: flex;
    border-radius: 5%;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: column;
    width: 100%;
    border:1px #c2c2c2 solid;
    padding:0;
    box-shadow: 0px 2px 12px darkgray;
    height: fit-content;
}
.smallcase{
    display: flex;
    border-radius: 5%;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: column;
    width: 40%;
    border:1px #c2c2c2 solid;
    padding:0;
    box-shadow: 0px 2px 12px darkgray;
    height: fit-content;
}
.fas .fa-star{
 color: #0065FC;
}
figure{
    position: relative;
}
p{
    margin-left: 10px;
}
.inscrire{
    color: #0065FC;
    font-weight: bold;
}
.hebergements{
    color: #0065FC;
}
#recherche{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.activites1, .activites2, .activites3, .activites4{
    margin: 20px;
}

@media all and (max-device-width: 480px){

body{
    display: flex;
    flex-direction: column;
}




}




